.header__logo {
  max-width: 142px;
  max-height: 33px;
}

@media (max-width: 920px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 760px) {
  .header__logo {
    margin-left: 27px;
    width: 103px;
  }
}