.header__opened-menu_open {
  display: flex;
  opacity: 1;
  animation: fadeInFromNone 0.3s ease-in-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
