.page {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-height: 100vh;
}

input {
  font-family: inherit;
  /* Теперь поле ввода наследует шрифт от родителя */
}
